extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Giỏ hàng")

    .row
      .col-12
        table(class="table table-bordered" cart)
          thead
            tr
              if (cartDetail.chooseAll == true)
                th Chọn <input choose-all-cart type="checkbox" checked>
              else 
                th Chọn <input choose-all-cart type="checkbox">
              th STT
              th Ảnh
              th Tên
              th Giá
              th Số lượng
              th Tổng tiền
              th Hành động
          tbody
            if(cartDetail.products.length > 0)
              each product, index in cartDetail.products
                tr
                  td 
                    input(
                      product-in-cart 
                      type="checkbox" 
                      product-id=`${product.infoProduct.id}`
                      checked=product.choose=="true"? true : false
                      ) 
                  td #{index + 1}
                  td
                    img(
                      src=product.infoProduct.thumbnail
                      alt=product.infoProduct.title
                      width="80px"
                    )
                  td
                    a(
                      href=`/products/detail/${product.infoProduct.slug}`
                    ) #{product.infoProduct.title}
                  td #{product.infoProduct.priceNew}$
                  td
                    input(
                      change-quantity-item
                      type="number"
                      name="quantity"
                      value=product.quantity
                      max=`${product.infoProduct.stock}`
                      min="1"
                      item-id= `${product.idProduct}`
                      style="width: 60px"
                    )
                  td #{product.infoProduct.totalPriceProduct}$
                  td
                    a(
                      href=`/cart/delete/${product.idProduct}`
                      class="btn btn-danger"
                    ) Xóa
            else
              p Chưa có sản phẩm nào trong giỏ hàng.

        if(cartDetail.products.length > 0)
          h3(class="text-right") Tổng đơn hàng: #{cartDetail.totalPrice}$

          div(class="text-right mt-3")
            a(href="/checkout" class="btn btn-success") TIẾN HÀNH ĐẶT HÀNG