.sider
  .inner-menu
    ul(
      my-list-admin
    ) 
      li
        a(href=`/${prefix}/dashboard`) Tổng quan
      li
        a(href=`/${prefix}/product`) Quản lí sản phẩm
      li
        a(href=`/${prefix}/products-category`) Danh mục sản phẩm
      li
        a(href=`/${prefix}/roles`) Nhóm quyền
      li
        a(href=`/${prefix}/roles/permissions`) Phân quyền
      li
        a(href=`/${prefix}/accounts`) Tài khoản admin
      li
        a(
          class = "trash"
          href=`/${prefix}/trash`
        ) Thùng rác